.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding-left: 10px;
}

.header h2 a {
  color: #11e06e;
  font-weight: 600;
}
.header h2 a:hover {
  color: #11e06e;
  text-decoration: none;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 5px;
}
.navBar {
  font-weight: 200;
  color: rgb(226, 185, 185);
  margin-right: 15px;
}
.navBar:hover {
  text-decoration: none;
  color: #1c6e5a;
}
.navBarActive {
  font-weight: 200;
  color: black;
}
.navBarActive:hover {
  text-decoration: none;
  color: black;
}
