.ulBody {
  margin-top: 10px;
  padding: 0px;
  list-style: none;
}
.ulBody li {
  padding-left: 0px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.page-item.active .button {
  background-color: #16b85f;
  border: 1px solid #16b85f;
  text-decoration: none;
}
.page-item.active .button:hover {
  cursor: default;
}
.button {
  color: black;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(199, 180, 180);
}
