.articleUserLink .name {
  color: white;
}
.articleUserLink .date {
  margin-right: 15px;
}

.articleUserLink .name:hover {
  color: white;
}
.articleInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.editArticle {
  font-size: 15px;
  color: rgb(155, 132, 132);
  background-color: inherit;
  text-align: center;
  padding: 0px 5px 2px 5px;
  border: 1px solid rgb(155, 132, 132);
  border-radius: 3px;
}
.editArticle:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(226, 185, 185);
}
.deleteArticle {
  font-size: 15px;
  color: rgb(184, 59, 59);
  background-color: inherit;
  text-align: center;
  padding: 0px 5px 2px 5px;
  border: 1px solid rgb(184, 59, 59);
  border-radius: 3px;
}
.deleteArticle:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(184, 59, 59);
}
.articleButtons {
  margin-top: 7px;
}
.articleUserInfo .avatar {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.articleUserInfoBody .articleInfo .articleUserLink .name {
  color: #0faf57;
}
.userNameDate .name {
  color: #16d86d;
}
.userNameDate .name:hover {
  color: #16d86d;
}
.userNameDate {
  margin-right: 25px;
}
.articleButtons .likeFavorite {
  font-size: 16px;
  color: white;
  background-color: #19d66e;
  text-align: center;
  padding: 0px 5px 2px 5px;
  border: 1px solid rgb(155, 132, 132);
  border-radius: 3px;
}
.articleButtons .likeFavorite:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #0faf57;
}
.articleButtons .like {
  font-size: 16px;
  color: #0faf57;
  background-color: inherit;
  text-align: center;
  padding: 0px 5px 2px 5px;
  border: 1px solid rgb(155, 132, 132);
  border-radius: 3px;
}
.articleButtons .like:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #19d66e;
}
