.articleButtons .likeFavorite {
  font-size: 16px;
  color: white;
  background-color: #19d66e;
  text-align: center;
  padding: 0px 5px 2px 5px;
  border: 1px solid rgb(155, 132, 132);
  border-radius: 3px;
}
.articleButtons .likeFavorite:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #0faf57;
}
.articleButtons .like {
  font-size: 16px;
  color: #0faf57;
  background-color: inherit;
  text-align: center;
  padding: 0px 5px 2px 5px;
  border: 1px solid rgb(155, 132, 132);
  border-radius: 3px;
}
.articleButtons .like:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #19d66e;
}
